PORT=3001

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=gesco_inventory
DB_USER=admin
DB_PASSWORD=password

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Synchronize auto (disable in production)
DB_SYNC=true
