PORT=3000
JWT_SECRET=laramel_super_secret_jwt_key_2024
JWT_EXPIRATION=7d

# Microservices URLs
INVENTORY_SERVICE_URL=http://localhost:3001
IDENTITY_SERVICE_URL=http://localhost:8000
SALES_SERVICE_URL=http://localhost:3002
ity-service:8000
